 body{
    background-color: #352D2F;
}

#small small{
    margin: 0 auto;
    text-align: center;

    
  color: aqua;  
 background-color: crimson;
}

#menu a{
    
    color: white;
}

#menu :hover ul{
   color: aqua; 
}

#one p{
    text-align: center;
    color: white;
    font-size: 4em;
    padding-top: 20%;
}
#p{
    text-align: center;
    background-color: transparent;
    color: white;
}

#mid {
    background-color: ghostwhite;
    
    
        
}

#two{
    
    background-color: white;
}
#two p{
    margin-left: 20%;
    color:black;
    text-align: left;
}

#two h1{
    font-size: 2em;
    margin-left: 20%;
    color:black;
    text-align: left;
}

#three{
   
    height: 4em;
      
    background-color: #352D2F;
}



#five{
    margin-left: 25%;
    margin-top: 5%;
    background-color: whitesmoke;
    height: 7.7em;
    
}

#five p {
    font-size: 1.0ex;
}


#complex{
    background-color: #F63C3C;
    margin-left: 0 auto;
   border-right: 0 auto;
    
    
}

#right{
     background-color: #F63C3C;
    margin-top: 10%;
    height: 20.66em
    
}

#right h1{
    color: #605A5C;
 
    
}
#right h2{
    color: white;
}

#right p{
    color:#605A5C; 
}

#sage{
    float: right;
    height: 50em;
    background: white;
    margin: 0 auto;
}

#sage img{
    margin-top: 20%;
    display: inline-block;
   height: 70%;
    width: 100%;
    
    
}


#history {
    float: left;
    height: 50em;
    margin: 0 auto;
    color: black;
    background-color: white;
    
}

#history a{
    margin-top: 20%;
    margin-left: 30%
}

#explore {
    
    background-color: white;
}

#explo{
    
    font-size: 2em;
   color:#F63C3C;
    margin-left: 20%;
}


#services{
    padding: 2% auto;
    margin: 0 auto;
    background-color: white;
    
}

#sec03{
    background-color: white;
}