#body{
    background-image: url(/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        height: 100%;
}



#top{
    background-color:  #565A69;
    color: #FE9914;
    font-size: 2em;
    text-align: center;
}