html {
   width: 100%;
    height: 100%;
     background-color: black;
    border-radius: 5px;
    
    
}

#main {
    margin-right: 40%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 50%;
    width: 80%;
    height:90%;
    background-color: white;
    border-radius: 0;
    
    
}




#leftside {
   width: 20%;
    height: 100%;
     background-color: #2F2F3D;
    border-radius: 0px;
    float: left;
        
}

#header {
    
}

#right {
   width: 80%;
    height: 100%;
     background-color: yellow;
    border-radius: 0px;
    float: right;
        
}



#dropbox {
    
    margin-right: 50px;
    margin-top: 30px;
}

#nav li{
    background-color: aqua;
    display:block;
    
    
}